<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Index</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/registration">Registration</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
    </header>
    <h1>Registration</h1>

    <form action="/registration" method="post">
    
        <input type="text"  required name="name" placeholder="Enter your name">
        <input type="email"  required name="email" placeholder="Enter your email address">
        <input type="number" required  name="phone" placeholder="Enter your phone number">
        <input type="password" required  name="password" placeholder="Enter your password">
        <input type="password" required  name="cpassword" placeholder="Confirm password">
        <button type="submit">Submit</button>
    </form>
</body>
</html>